.login:hover {
    background-color: #556EE6;
}


.bg-purple {
    background-color: #556EE6;
}

.fs-7 {
    font-size: 13px;
}

.cursor {
    cursor: pointer;
}

.invalid-input {
    border-color: red;
}