.fs-7 {
    font-size: 13px;
}

.fs-14px {
    font-size: 14px;
}

.cursor {
    cursor: pointer;
}

.overview,
.editprofile,
.settings,
.changepass {
    height: 72.5dvh;
}

.dropdown-card {
    width: min-content;
    height: max-content;
}