<main>
    <div class="container">
        <div class="main-body-contain px-lg-4 py-3">
            <div class="px-1">
                <h5 class="text-black bg-opacity-75 pb-3 pt-2 px-3">
                    <i class="bi bi-megaphone fs-6"></i>
                    <span class="fs-6 ps-2">
                        Welcome to your Admin Dashboard!!
                    </span>
                    <i class="bi bi-x float-sm-end ps-1 ps-sm-2 fs-4"></i>
                </h5>
            </div>

            <div class="row pt-3 pt-md-4 px-1">
                <div class="col-xl-3 col-lg-4 col-md-6 pb-4">
                    <div class="rounded border-0 shadow px-3 py-2 flex-row bg-white">
                        <div class="">
                            <i class="bi bi-person display-5 text-warning"></i>
                            <h2 class="fw-semibold mb-0 fs-6 float-sm-end py-2 py-sm-0">
                                <p class="mb-lg-2 mb-md-1 mb-0">Students</p>
                                <p class="float-sm-end fs-3 mb-0 me-1">1</p>
                            </h2>
                        </div>
                        <hr class="my-2 text-secondary">
                        <div class="d-flex align-items-center">
                            <i class="bi bi-arrow-right text-secondary"></i>
                            <span class="ps-2 fw-semibold fs-7 text-secondary">View</span>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6 pb-4">
                    <div class="rounded border-0 shadow px-3 py-2 flex-row bg-white">
                        <i class="bi bi-wallet display-5 text-success"></i>
                        <h2 class="fw-semibold mb-0 fs-6 float-sm-end py-2 py-sm-0">
                            <p class="mb-lg-2 mb-md-1 mb-0">FeesCollection
                            </p>
                            <p class="float-sm-end fs-3 mb-0 me-1">1</p>
                        </h2>
                        <hr class="my-2 text-secondary">
                        <div class="d-flex align-items-center">
                            <i class="bi bi-arrow-right text-secondary"></i>
                            <span class="ps-2 fw-semibold fs-7 text-secondary">View</span>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6 pb-4">
                    <div class="rounded border-0 shadow px-3 py-2 flex-row bg-white">
                        <i class="bi bi-credit-card display-5 orange"></i>
                        <h2 class="fw-semibold mb-0 fs-6 float-sm-end py-2 py-sm-0">
                            <p class="mb-lg-2 mb-md-1 mb-0">Banks
                            </p>
                            <p class="float-sm-end fs-3 mb-0 me-1">2</p>
                        </h2>
                        <hr class="my-2 text-secondary">
                        <div class="d-flex align-items-center">
                            <i class="bi bi-arrow-right text-secondary"></i>
                            <span class="ps-2 fw-semibold fs-7 text-secondary">View</span>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6 pb-4">
                    <div class="rounded border-0 shadow px-3 py-2 flex-row bg-white">
                        <i class="bi bi-person-vcard display-5 text-info-emphasis"></i>
                        <h2 class="fw-semibold mb-0 fs-6 float-sm-end py-2 py-sm-0">
                            <p class="mb-lg-2 mb-md-1 mb-0">Teachers
                            </p>
                            <p class="float-sm-end fs-3 mb-0 me-1">0</p>
                        </h2>
                        <hr class="my-2 text-secondary">
                        <div class="d-flex align-items-center">
                            <i class="bi bi-arrow-right text-secondary"></i>
                            <span class="ps-2 fw-semibold fs-7 text-secondary">View</span>
                        </div>
                    </div>
                </div>


                <div class="col-xl-3 col-lg-4 col-md-6 pb-4">
                    <div class="rounded border-0 shadow px-3 py-2 flex-row bg-white">
                        <i class="bi bi-journals display-5 text-warning"></i>
                        <h2 class="fw-semibold mb-0 fs-6 float-sm-end py-2 py-sm-0">
                            <p class="mb-lg-2 mb-md-1 mb-0">Subjects
                            </p>
                            <p class="float-sm-end fs-3 mb-0 me-1">1</p>
                        </h2>
                        <hr class="my-2 text-secondary">
                        <div class="d-flex align-items-center">
                            <i class="bi bi-arrow-right text-secondary"></i>
                            <span class="ps-2 fw-semibold fs-7 text-secondary">View</span>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6 pb-4">
                    <div class="rounded border-0 shadow px-3 py-2 flex-row bg-white">
                        <i class="bi bi-calendar3 display-5 text-success"></i>
                        <h2 class="fw-semibold mb-0 fs-6 float-sm-end py-2 py-sm-0">
                            <p class="mb-lg-2 mb-md-1 mb-0">Classes
                            </p>
                            <p class="float-sm-end fs-3 mb-0 me-1">2</p>
                        </h2>
                        <hr class="my-2 text-secondary">
                        <div class="d-flex align-items-center">
                            <i class="bi bi-arrow-right text-secondary"></i>
                            <span class="ps-2 fw-semibold fs-7 text-secondary">View</span>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6 pb-4">
                    <div class="rounded border-0 shadow px-3 py-2 flex-row bg-white">
                        <i class="bi bi-signpost-2 display-5 orange"></i>
                        <h2 class="fw-semibold mb-0 fs-6 float-sm-end py-2 py-sm-0">
                            <p class="mb-lg-2 mb-md-1 mb-0">Streams
                            </p>
                            <p class="float-sm-end fs-3 mb-0 me-1">2</p>
                        </h2>
                        <hr class="my-2 text-secondary">
                        <div class="d-flex align-items-center">
                            <i class="bi bi-arrow-right text-secondary"></i>
                            <span class="ps-2 fw-semibold fs-7 text-secondary">View</span>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6 pb-4">
                    <div class="rounded border-0 shadow px-3 py-2 flex-row bg-white">
                        <i class="bi bi-house-door display-5 text-info-emphasis"></i>
                        <h2 class="fw-semibold mb-0 fs-6 float-sm-end py-2 py-sm-0">
                            <p class="mb-lg-2 mb-md-1 mb-0">Hostels
                            </p>
                            <p class="float-sm-end fs-3 mb-0 me-1">1</p>
                        </h2>
                        <hr class="my-2 text-secondary">
                        <div class="d-flex align-items-center">
                            <i class="bi bi-arrow-right text-secondary"></i>
                            <span class="ps-2 fw-semibold fs-7 text-secondary">View</span>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6 pb-4">
                    <div class="rounded border-0 shadow px-3 py-2 flex-row bg-white">
                        <i class="bi bi-stack display-5 text-warning"></i>
                        <h2 class="fw-semibold mb-0 fs-6 float-sm-end py-2 py-sm-0">
                            <p class="mb-lg-2 mb-md-1 mb-0">Timetables
                            </p>
                            <p class="float-sm-end fs-3 mb-0 me-1">0</p>
                        </h2>
                        <hr class="my-2 text-secondary">
                        <div class="d-flex align-items-center">
                            <i class="bi bi-arrow-right text-secondary"></i>
                            <span class="ps-2 fw-semibold fs-7 text-secondary">View</span>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6 pb-4">
                    <div class="rounded border-0 shadow px-3 py-2 flex-row bg-white">
                        <i class="bi bi-flag display-5 text-success"></i>
                        <h2 class="fw-semibold mb-0 fs-6 float-sm-end py-2 py-sm-0">
                            <p class="mb-lg-2 mb-md-1 mb-0">Events
                            </p>
                            <p class="float-sm-end fs-3 mb-0 me-1">1</p>
                        </h2>
                        <hr class="my-2 text-secondary">
                        <div class="d-flex align-items-center">
                            <i class="bi bi-arrow-right text-secondary"></i>
                            <span class="ps-2 fw-semibold fs-7 text-secondary">View</span>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6 pb-4">
                    <div class="rounded border-0 shadow px-3 py-2 flex-row bg-white">
                        <i class="bi bi-megaphone display-5 orange"></i>
                        <h2 class="fw-semibold mb-0 fs-6 float-sm-end py-2 py-sm-0">
                            <p class="mb-lg-2 mb-md-1 mb-0">Notices
                            </p>
                            <p class="float-sm-end fs-3 mb-0 me-1">0</p>
                        </h2>
                        <hr class="my-2 text-secondary">
                        <div class="d-flex align-items-center">
                            <i class="bi bi-arrow-right text-secondary"></i>
                            <span class="ps-2 fw-semibold fs-7 text-secondary">View</span>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6 pb-4">
                    <div class="rounded border-0 shadow px-3 py-2 flex-row bg-white">
                        <i class="bi bi-trophy display-5 text-info-emphasis"></i>
                        <h2 class="fw-semibold mb-0 fs-6 float-sm-end py-2 py-sm-0">
                            <p class="mb-lg-2 mb-md-1 mb-0">Exam Results
                            </p>
                            <p class="float-sm-end fs-3 mb-0 me-1">0</p>
                        </h2>
                        <hr class="my-2 text-secondary">
                        <div class="d-flex align-items-center">
                            <i class="bi bi-arrow-right text-secondary"></i>
                            <span class="ps-2 fw-semibold fs-7 text-secondary">View</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>